/*   - Couleurs: bleu #4A90E2
     - Gradient: 

Bleu:
    #7FF6FF 0%
    #6DDEFA 10.8587771%
    #4BAEF1 42.4801028%
    #4BAEF1 75.4621493%
    #4FACF1 84.0442469%
    #5BA7F0 100%

Bleu et rose:
    #D773E5 0%
    #D377E6 8.41836735%
    #6DDEFA 82.0531728%
    #6DC8B8 100%
*
*/

body {
    background-color: #ececec;
    overflow-x: hidden;
}
.row-header {
    margin-right: 3px;
}
.banner-header {
    height: 72px;
    margin: 5px 5px 5px 5px;
    background: linear-gradient(to right,
        #7FF6FF 0%,
        #6DDEFA 10.8587771%,
        #4BAEF1 42.4801028%,
        #4BAEF1 75.4621493%,
        #4FACF1 84.0442469%,
        #5BA7F0 100%);
    border-radius: 25px;
    color: #122dff;
    display: inline-block;
    padding: 1px;
    text-decoration: none;
}
.banner-header nav {
    background: white;
    display: block;
    padding: 1em 3em;
    border-radius: 25px;
    height: auto:
}
.navbar-brand {
    margin-top: -10px;
    padding-left: 15px;
    margin-left: -35px;
    font-size: 32px;
    color: linear-gradient(
        #7FF6FF 0%,
        #6DDEFA 10.8587771%,
        #4BAEF1 42.4801028%,
        #4BAEF1 75.4621493%,
        #4FACF1 84.0442469%,
        #5BA7F0 100%
    );
}
.plus {
    border: 1px solid transparent;
    border-radius: 25px;
    margin-left: -7.5px;
    color: white;
    padding: 0 5px 0 5px;
    background: linear-gradient(
        to left,
        #D773E5 0%, 
        #D377E6 8.41836735%,
        #6DDEFA 82.0531728%,
        #6DC8B8 100%
    )
}
.navbar-collapse {
    margin-top: -87px;
    font-size: 20px;
}
.navbar-nav {
    transform: translate(215px, 40px);
}
.fa {
    padding-right: 5px;
    font-size: 20px;
}
.nav-link {
    color: black;
}
.nav-bar-nav {
    padding-left: 25px;
    margin-left: -25px;
}
.active {
    transform: translate(30px, -20px);
}
.logout {
    border: 1px solid black;
    border-radius: 25px;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    padding-left: 15px;
    font-weight: 600;
}
.middle-zone {
    margin-top: -130px;
}
.content-text {
    color: rgba(0,0,0,.5);
    font-weight: 600;
    height: 120px;
    margin-top: 40px;
}
.content-text p {
    font-size: 22px;
}
.text-grey {
    color: rgba(0,0,0,.5);
    font-weight: 600;
}
.central-window {
    margin-top: 150px;
}
.col-md-8 {
    background-color: white;
    border: 2px solid rgba(0,0,0,.5);
    border-radius: 30px;
    padding: 20px;
    margin-top: 50px;
}
.modal-zone {
    margin-right: 250px;
    margin-top: -220px;
    padding-top: 25px;
}
.activate {
    background: linear-gradient(to right, 
        #7FF6FF 0%,
        #6DDEFA 10.8587771%,
        #4BAEF1 42.4801028%,
        #4BAEF1 75.4621493%,
        #4FACF1 84.0442469%,
        #5BA7F0 100%);
    border-radius: 25px;
    color: #122dff;
    display: inline-block;
    padding: 1px;
    text-decoration: none;
}
.activate span {
    background: #fff;
    display: block;
    padding: 1em 3em;
    border-radius: 25px;
}

.access {
    background-color: blue;
    color: white;
    margin-top: -175px;
    margin-right: -20px;
    border-radius: 10px;
}
.access:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
    border-radius: 10px;
}
.on-page {
    float: left;
    margin-right: 5px;
}
.second {
    margin-top: -15px;
    margin-left: -55px;
}
.emotji-finger {
    float: right;
    margin-top: -20px;
    margin-right: -70px;
}
.chatPlus {
    color: black;
    font-size: 10px;
    float: left;
    margin-left: 20px;
}
.plus-flavicon {
    margin-right: 5px;
}
.chat-now {
   color: #4A90E2;
   font-weight: 600;
   font-size: 18px;
   float: left;
    margin-left: 100px;
}
.logo-messenger {
    float: right;
    margin-right: -75px;
    margin-top: 35px;
}
.bottom-window {
    padding-bottom: 25px;
}
/*
* MODAL WINDOW
*/
.modal-header {
    border-bottom: transparent;
}
.modal-on-page {
    color: black;
    font-weight: 600;
}
.modal-content {
    width: 100%;
    height: auto;
    border-radius: 25px;
    height: 700px;
}
#myModalLabel {
    font-size: 20px;
    font-weight: 600;
    width: 600px;
    margin: 50px -150px 0 50px;
    opacity: 0.8;
}
.btn-modal{
    margin: 50px 0 0 0;
    border: 1px solid #4A90E2;
    background: white;
    height: 30px;
    width: 200px;
    border-radius: 25px;
}
.btn-modal p {
    color: #4A90E2;
    font-weight: 600;
    margin-top: -5px;
}
.search-modal {
    border: 2px solid black;
    border-radius: 10px;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
}
.search-container {
    margin-bottom: 10px;
}
::placeholder {
    color: black;
    font-weight: 600;
    padding-left: 10px;
    font-size: 24px;
}
.admin-add {
    margin: 15px 70px 0 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    height: 40px;
    width: 140px;
    font-size: 10px;
}
.modal-footer {
    border-top: 3px solid #e9ecef;
}
.modal-foto {
    padding-right: 400px;
}
@media screen and (min-width: 1600px) {
    .navbar-collapse {
        margin-left: 500px;
    }

}

@media (min-width: 1024px) and (max-width:1279px) {
    .navbar-collapse {
        font-size: 13px;
        margin-left: 100px;
        margin-top:-80px;
    }
    .navbar-nav {
        transform: translate(80px, 35px);
    }
    .active {
        margin-left: -20px;
    }
    .middle-zone {
        margin-top: -150px;
    }
    .modal-zone {
        margin-top: -242.5px;
    }
    .modal-foto {
        padding-right: 400px;
    }
    .logout {
        float: right;
    }
}
@media (min-width: 992px) and (max-width: 1023px) {
    .navbar-collapse {
        font-size: 12px;
        margin-left: 175px;
    }
    .navbar-toggler {
        float: left;
    }
    .modal-zone {
        margin-top: -265px;
    }
   
} 
@media (min-width: 770px) and (max-width: 991px) {
    .modal-zone {
        margin-top: 30px;
        margin-right: 350px;
    }
    #myModalLabel {
        margin-top: -2px;
    }
    .modal-foto {
        padding-right: 150px;
    }
    .col-md-6 {
        max-width: 100%;
    }
    .access {
        margin-top: 50px;
        margin-right: 400px;
        font-size:20px;
    }
    .central-window {
        margin-top: 175px;
    }
    .navbar-brand {
        margin-left: 150px;
        font-size: 36px;
    }
    .navbar-toggler {
        float: left;
        margin-right: -30px;
    }
    .navbar-collapse {
        margin-top: 50px;
    }
    .navbar-nav {
        margin-top: 75px;
        transform: translateY(10px);
    }
    .middle-zone {
        margin-top: 0;
    }    
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
      }
      #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
      }
      .navbar-nav {
        background-color: white;
        opacity: 1;
        width: 250px;
        padding: 10px 50px 0 0;
        transform: translateY(-60px);
      }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
      }
      #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
      }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
      }
}
@media screen and (min-width: 585px) and (max-width: 769px) {
    .navbar-brand {
        font-size: 36px;
        margin-top: -50px;
        margin-left: -10px;
        transform: translate(125px, 15px);
    }
    .navbar-toggler {
        float: left;
        margin-left: -35px;
    }
    .access {
        margin-right: 300px;
        margin-top: 55px;
    }
    .central-text {
        margin-top: 80px;
        margin-left: 200px;
    }
    .central-window {
        transform: translateY(-75px);
    }
    .bottom-window {
    margin-left: 200px;
    margin-right: -225px;
    }
    .bottom-wrap, .central-text {
        max-width: 80%%;
    }
    .modal-zone {
        margin-top: 25px;
        margin-right: 0;
        transform: translateX(-230px);
    }
}
@media screen and (min-width: 360px) and (max-width: 579px) {
    .navbar-toggler {
        float: left;
        margin-left: -40px;
        padding-right: 60px;
    }
    .navbar-brand {
        margin-top: -20px;
        transform: translateY(10px);

    }
    .navbar-nav {
        margin-left: -325px;
        font-size: 16px;
        margin-top: 50px;
        transform: translate(-80px, 40px);
    }
    .middle-zone {
        margin-top: 0;
    }
    .access {
        margin-top: 25px;
        margin-right: 120px;
    }
    .central-window {
        padding-right: 10px;
        padding-left: 15px;
        transform: translateY(-100px);
    }
    .content-text p {
        font-size: 18px;
    }
    .bottom-window {
        padding-right: 10px;
        padding-left: 10px;
        transform: translateY(-100px);
    }
    .modal-zone {
        margin-right: 30px;
        margin-top: 20px;
    }
    .logo-messenger {
        margin-right: -25px;
        margin-top: -10px;
    }
    #myModalLabel {
        text-align: center;
        margin-top: -5px;
        margin-left: -5px;
    }
    .btn-modal {
        margin-top: 100px;
        margin-right: 30px;
    }
    ::placeholder {
        font-size: 16px;
    }
    .modal-foto {
        padding-right: 75px;
    }
    .admin-add {
        margin-right: -10px;
    }
}
@media screen and (min-width: 280px) and (max-width: 359px) {
    .navbar-collapse {
        font-size: 14px;
    }
    .navbar-light {
        height: 70px;
    }
    .navbar-nav {
        margin-left: -325px;
        margin-top: 20px;
        transform: translate(-50px, 40px);
    }
    .navbar-toggler {
        float: left;
        margin-right: -50px;
        margin-left: -40px;
        padding-right: 60px;
    }
    .navbar-brand {
        font-size: 28px;
        margin-left: 10px;
        transform: translate(25px, -35px);
    }
    .content-text p {
        font-size: 16px;
    }
    .access {
        font-size: 11px;
        margin-right: 100px;
        margin-top: 50px;
    }
    .central-window {
        margin: 150px 2px 0 2px;
        transform: translateY(-90px);
    }
    .middle-zone {
        margin-top: 0;
    }
    .modal-zone {
        margin-top: 50px;
        margin-right: 10px;
    }
    .modal-on-page {
        font-size: 12px;
        padding-top: 5px;
    }
    .second {
        margin-right: 20px;
    }
    .emotji-finger {
        margin-right: 50px;
    }
    .logo-messenger {
        width: 25px;
        margin-right:10px;
        margin-top: -20px;
    }
    .bottom-window {
        margin: -100px 0 0 0;
    }
    .modal-content {
        height:400px;
    }
    #myModalLabel {
        font-size: 14px;
        margin-top: -5px;
        margin-left: -10px;
        text-align: center;
    }
    .btn-modal {
        margin-top: 50px;
    }
    ::placeholder {
        font-size: 14px;
    }
    .search-modal {
        border: 1px solid black;
    }
    .modal-foto {
        margin-right: 0;
        padding-right: 50px;
    }
    .admin-add {
        margin-right: -5px;
        margin-top: -5px;
    }
}


